In [6]:
import pandas as pd
import os
from geopy.geocoders import Nominatim

In [7]:
df=pd.read_csv('Wheat_Maharashtra1.csv')
df

,Sl no.,District Name,Market Name,Commodity,Variety,Grade,Min Price (Rs./Quintal),Max Price (Rs./Quintal),Modal Price (Rs./Quintal),Price Date
0,1,Yavatmal,Aarni,Wheat,Maharashtra 2189,FAQ,1690,1834,1700,02-Apr-19
1,2,Amarawati,Achalpur,Wheat,Other,FAQ,2130,2270,2200,26-Dec-19
2,3,Amarawati,Achalpur,Wheat,Other,FAQ,2070,2200,2135,19-Dec-19
3,4,Amarawati,Achalpur,Wheat,Other,FAQ,2050,2250,2150,12-Dec-19
4,5,Amarawati,Achalpur,Wheat,Other,FAQ,2070,2200,2155,05-Dec-19
...,...,...,...,...,...,...,...,...,...,...
32001,32002,Yavatmal,Yeotmal,Wheat,Other,FAQ,1800,1800,1800,16-Jul-18
32002,32003,Yavatmal,Yeotmal,Wheat,Other,FAQ,1680,1680,1680,13-Jul-18
32003,32004,Yavatmal,Yeotmal,Wheat,Other,FAQ,1750,1750,1750,12-Jul-18
32004,32005,Yavatmal,Yeotmal,Wheat,Other,FAQ,1700,1700,1700,05-Jul-18
32005,32006,Yavatmal,Yeotmal,Wheat,Other,FAQ,1740,1740,1740,02-Jul-18

In [8]:
os.listdir()

['.ipynb_checkpoints',
 'Bajra_Delhi.csv',
 'Bajra_Haryana.csv',
 'Bajra_Madhya_Pradesh.csv',
 'Bajra_Maharashtra.csv',
 'bajra_markets.csv',
 'Bajra_Rajasthan.csv',
 'Bajra_Tamil_Nadu.csv',
 'Bajra_Telangana.csv',
 'Bajra_Uttar_Pradesh.csv',
 'market finder.ipynb',
 'Rice_Assam.csv',
 'Rice_Delhi.csv',
 'Rice_Jammu_and_Kashmir.csv',
 'Rice_Jharkhand.csv',
 'Rice_Karnataka.csv',
 'Rice_Kerala.csv',
 'Rice_Maharashtra.csv',
 'Rice_Manipur.csv',
 'rice_markets.csv',
 'Rice_Meghalaya.csv',
 'Rice_Odisha.csv',
 'Rice_Punjab.csv',
 'Rice_Rajasthan.csv',
 'Rice_Tripura.csv',
 'Rice_Uttarakhand.csv',
 'Rice_Uttar_Pradesh.csv',
 'Rice_West_Bengal.csv',
 'Wheat_Andhra_Pradesh.csv',
 'Wheat_Assam.csv',
 'Wheat_Chhatisgarh.csv',
 'Wheat_Delhi.csv',
 'Wheat_Haryana.csv',
 'Wheat_Jharkhand.csv',
 'Wheat_Karnataka.csv',
 'Wheat_Kerala.csv',
 'Wheat_Maharashtra1.csv',
 'Wheat_Maharashtra2.csv',
 'Wheat_Maharashtra3.csv',
 'Wheat_Maharashtra4.csv',
 'Wheat_Maharashtra5.csv',
 'wheat_markets.csv',
 'Wheat_Odisha.csv',
 'Wheat_Punjab.csv',
 'Wheat_Rajasthan1.csv',
 'Wheat_Rajasthan2.csv',
 'Wheat_Rajasthan3.csv',
 'Wheat_Rajasthan4.csv',
 'Wheat_Rajasthan5.csv',
 'Wheat_Telangana.csv',
 'Wheat_Uttarakhand.csv',
 'Wheat_Uttar_Pradesh1.csv',
 'Wheat_Uttar_Pradesh2.csv',
 'Wheat_Uttar_Pradesh3.csv',
 'Wheat_Uttar_Pradesh4.csv',
 'Wheat_Uttar_Pradesh5.csv',
 'Wheat_Uttar_Pradesh6.csv',
 'Wheat_Uttar_Pradesh7.csv',
 'Wheat_Uttar_Pradesh8.csv',
 'Wheat_Uttar_Pradesh9.csv',
 'Wheat_West_Bengal.csv']

In [9]:
wheat_state=[]
for file in os.listdir():
    if file[0:5]=='Wheat':
        wheat_state.append(file)
        
wheat_state

['Wheat_Andhra_Pradesh.csv',
 'Wheat_Assam.csv',
 'Wheat_Chhatisgarh.csv',
 'Wheat_Delhi.csv',
 'Wheat_Haryana.csv',
 'Wheat_Jharkhand.csv',
 'Wheat_Karnataka.csv',
 'Wheat_Kerala.csv',
 'Wheat_Maharashtra1.csv',
 'Wheat_Maharashtra2.csv',
 'Wheat_Maharashtra3.csv',
 'Wheat_Maharashtra4.csv',
 'Wheat_Maharashtra5.csv',
 'Wheat_Odisha.csv',
 'Wheat_Punjab.csv',
 'Wheat_Rajasthan1.csv',
 'Wheat_Rajasthan2.csv',
 'Wheat_Rajasthan3.csv',
 'Wheat_Rajasthan4.csv',
 'Wheat_Rajasthan5.csv',
 'Wheat_Telangana.csv',
 'Wheat_Uttarakhand.csv',
 'Wheat_Uttar_Pradesh1.csv',
 'Wheat_Uttar_Pradesh2.csv',
 'Wheat_Uttar_Pradesh3.csv',
 'Wheat_Uttar_Pradesh4.csv',
 'Wheat_Uttar_Pradesh5.csv',
 'Wheat_Uttar_Pradesh6.csv',
 'Wheat_Uttar_Pradesh7.csv',
 'Wheat_Uttar_Pradesh8.csv',
 'Wheat_Uttar_Pradesh9.csv',
 'Wheat_West_Bengal.csv']

In [10]:
df_list=[]
for i in range(len(wheat_state)):
    df=pd.read_csv(wheat_state[i])
    df['State']=wheat_state[i][6:wheat_state[i].index('.')]
    df_list.append(df)
    
wheat=pd.concat(df_list).drop(['Sl no.','Commodity','Grade','Max Price (Rs./Quintal)','Min Price (Rs./Quintal)','Modal Price (Rs./Quintal)','Price Date','Variety'],axis=1)
wheat

       District Name Market Name           State
0      Visakhapatnam  Anakapally  Andhra_Pradesh
1      Visakhapatnam  Anakapally  Andhra_Pradesh
2           Cuddapah    Cuddapah  Andhra_Pradesh
3           Cuddapah    Cuddapah  Andhra_Pradesh
4           Cuddapah    Cuddapah  Andhra_Pradesh
...              ...         ...             ...
55341          Malda       Samsi     West_Bengal
55342          Malda       Samsi     West_Bengal
55343     Coochbehar  Toofanganj     West_Bengal
55344     Coochbehar  Toofanganj     West_Bengal
55345     Coochbehar  Toofanganj     West_Bengal

[1315687 rows x 3 columns]

In [11]:
wheat.State.iloc[554316][0:6]

'Rajast'

In [ ]:
for i in range(len(wheat)):
    if i%10000==0:
        print(i)
    if wheat.State.iloc[i][0:6] in ['Mahara','Uttar_','Rajast']:
        wheat.State.iloc[i]=wheat.State.iloc[i][0:-1]

0
10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000
190000
200000
210000
220000
230000
240000
250000
260000
270000
280000
290000
300000
310000
320000
330000
340000
350000
360000
370000
380000
390000
400000
410000
420000
430000
440000
450000
460000
470000
480000
490000
500000
510000
520000
530000
540000
550000
560000
570000
580000
590000
600000
610000
620000
630000
640000
650000
660000
670000
680000
690000
700000
710000
720000
730000
740000
750000
760000
770000
780000
790000
800000
810000
820000
830000
840000
850000
860000
870000
880000
890000
900000
910000
920000
930000

In [89]:
wheat

       District Name             Market Name           State
0      Visakhapatnam              Anakapally  Andhra_Pradesh
1      Visakhapatnam              Anakapally  Andhra_Pradesh
2           Cuddapah                Cuddapah  Andhra_Pradesh
3           Cuddapah                Cuddapah  Andhra_Pradesh
4           Cuddapah                Cuddapah  Andhra_Pradesh
...              ...                     ...             ...
21461          Ajmer  Vijay Nagar(Gulabpura)       Rajasthan
21462          Ajmer  Vijay Nagar(Gulabpura)       Rajasthan
21463          Ajmer  Vijay Nagar(Gulabpura)       Rajasthan
21464          Ajmer  Vijay Nagar(Gulabpura)       Rajasthan
21465          Ajmer  Vijay Nagar(Gulabpura)       Rajasthan

[554317 rows x 3 columns]

In [90]:
wheat=wheat.drop_duplicates()
wheat

       District Name             Market Name           State
0      Visakhapatnam              Anakapally  Andhra_Pradesh
2           Cuddapah                Cuddapah  Andhra_Pradesh
1300      Srikakulam               Ichapuram  Andhra_Pradesh
1314   Visakhapatnam             Narsipatnam  Andhra_Pradesh
1315   Vijayanagaram           Parvathipuram  Andhra_Pradesh
...              ...                     ...             ...
20407    Hanumangarh               Suratgarh       Rajasthan
20557           Tonk                    Tonk       Rajasthan
20848        Udaipur                 Udaipur       Rajasthan
21117           Tonk                 Uniyara       Rajasthan
21244          Ajmer  Vijay Nagar(Gulabpura)       Rajasthan

[1105 rows x 3 columns]

In [91]:
wheat.to_csv('wheat_markets.csv')

In [3]:
wheat1=pd.read_csv('wheat_markets.csv')

In [5]:
wheat1.State.unique()

array(['Andhra_Pradesh', 'Assam', 'Chhatisgarh', 'Delhi', 'Haryana',
       'Jharkhand', 'Karnataka', 'Kerala', 'Maharashtra', 'Odisha',
       'Punjab', 'Rajasthan'], dtype=object)